In [4]:
import pandas as pd
import numpy as np

np.random.seed(42)
weight = [550, 500, 400, 900, 350, 800, 450, 300, 600]
season = ['Summer', 'Spring', 'Fall', 'Winter']
orange_juice = pd.DataFrame()
orange_juice['weight'] = [np.random.choice(weight) for _ in range(50)]
orange_juice['season'] = [np.random.choice(season) for _ in range(50)]
orange_juice['price'] = (1/100)*orange_juice['weight']*orange_juice['season'].map({'Spring': 1.2, 'Summer': 2, 'Fall':1.4 , 'Winter': 1}) + 10
orange_juice.head()

   weight  season  price
0     450  Winter   14.5
1     900  Spring   20.8
2     300  Spring   13.6
3     350  Spring   14.2
4     450  Spring   15.4

In [6]:
orange_juice.to_csv('../data/orange_juice.csv', index=False)